<div class="post">
  <div class="header">
    <h1>Post title</h1>

    <button routerLink="/" class="btn btn-link">To Main Page</button>
  </div>

  <div class="info">
    <strong>There is author</strong>
    <small>12.09.2019</small>
  </div>

  <div>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi blanditiis consectetur culpa cum distinctio ducimus eius error et iste minima minus molestiae nihil nulla, possimus, praesentium quae quas quisquam reprehenderit soluta totam unde vero vitae voluptates! Asperiores distinctio doloremque ea esse eum fugiat minima, obcaecati praesentium quas quod reiciendis, tempora.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi blanditiis consectetur culpa cum distinctio ducimus eius error et iste minima minus molestiae nihil nulla, possimus, praesentium quae quas quisquam reprehenderit soluta totam unde vero vitae voluptates! Asperiores distinctio doloremque ea esse eum fugiat minima, obcaecati praesentium quas quod reiciendis, tempora.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi blanditiis consectetur culpa cum distinctio ducimus eius error et iste minima minus molestiae nihil nulla, possimus, praesentium quae quas quisquam reprehenderit soluta totam unde vero vitae voluptates! Asperiores distinctio doloremque ea esse eum fugiat minima, obcaecati praesentium quas quod reiciendis, tempora.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi blanditiis consectetur culpa cum distinctio ducimus eius error et iste minima minus molestiae nihil nulla, possimus, praesentium quae quas quisquam reprehenderit soluta totam unde vero vitae voluptates! Asperiores distinctio doloremque ea esse eum fugiat minima, obcaecati praesentium quas quod reiciendis, tempora.</p>

  </div>
</div>
